.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;

}

.section__title {
    font-size: var(--h1-font-size);
    font-family: var(--font-bold);
    margin-bottom: 0.5rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;

}

.about__data::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description {
    margin-bottom: 1rem;
    text-align: justify;
}

.about__img {
    border-radius: 100px;
}


@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;

    }

    .about__img {
        justify-self: center;
    }

    .about__data {
        flex-direction: column;
        row-gap: .5rem;
        text-align: center;
        width: 50%;
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 500px;
    }

    .about__data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;

    }
}

@media screen and (max-width: 576px) {
    ..about__container {
        grid-template-columns: 320px;
    }
}

@media screen and (max-width: 350px) {
    .about__container {
        grid-template-columns: 1fr;
    }
}